[submodule "Q3_RS_Prereq"]
	path = Q3_RS_Prereq
	url = https://github.com/mehan05/Q3_RS_Prereq.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/mehan05/solana-starter.git
[submodule "anchor_vault"]
	path = anchor_vault
	url = https://github.com/mehan05/anchor_vault.git
