[submodule "Q3_RS_Prereq"]
	path = Q3_RS_Prereq
	url = https://github.com/mehan05/Q3_RS_Prereq.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/mehan05/solana-starter.git
[submodule "anchor_vault"]
	path = anchor_vault
	url = https://github.com/mehan05/anchor_vault.git
[submodule "amm"]
	path = amm
	url = https://github.com/mehan05/amm.git
[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/mehan05/nft-staking.git

[submodule "escrow_"]
	path = escrow_
	url = https://github.com/mehan05/escrow_.git
